:root {
  --background: #1f2021;
  --primary: #fd842b;
  --primary-dark: #dd4400;
  --secondary: #57b894;
  --light: #2f2e41;
  --dark: #121212;
  --title: #b6c8ef;
  --subtitle: #7c79a5;
  --text: #b6c8ef;
  --textdark: #8895b1;
}