<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso negado</title>
    {% raw %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/style.css') }}">
    {% endraw %}
</head>
<body>
        {% raw %}
        <img src="{{ url_for('static', filename='assets/errors/undraw_not_found_-60-pq.svg') }}" alt="vector">
        {% endraw %}
        <div class="wrapper">
    <h1>Você não tem permissão para isso</h1>
        <p class="message">Por favor, verifique sua conta e tente novamente.</p>
        <a href="/" class="btn">Voltar à pagina inicial</a>
        </div>
</body>
</html>